.donateForm {
  width: 100%;
  height: 100vh;
  background: url("/images/form-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}