.callToAction {
  width: 100%;
  min-height: 750px;
  text-align: center;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;

  &__ornament {
    height: 2.25rem;
    margin: 2rem 0;
  }

  &__stepsBox {
    min-height: 300px;
    padding: 0 1rem;
    background-color: #ebebeb;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__btn {
    margin-top: 3rem;
    padding: 2rem 3rem;
    font-size: 2rem;
    text-transform: uppercase;
    border: 1px solid #3c3c3c;
    text-decoration: none;
  }
}
