.donateHeader {
  width: 100%;
  height: 88vh;
  background: url("/images/wool.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  &__container {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    width: 50%;
    text-align: center;
    font-size: 2.25rem;
    span {
      display: inline-block;
      text-transform: uppercase;
    }
  }

  &__ornament {
    height: 2.5rem;
    margin: 1rem 0;
  }

  &__subtitle {
    font-size: 2.25rem;
  }

  &__steps {
    width: 620px;
    height: 200px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
  }

  &__step {
    height: 130px;
    width: 130px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    :before {
      position: absolute;
      content: "";
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      transform: rotate(45deg);
      border: 1px solid;
    }
  }

  .step {
    &__num {
      font-size: 1.7rem;
    }
  
    &__text {
      font-size: 1.2rem;
      width: 80%;
      padding: 0.25rem;
    }
  }
}


