.donateStep4 {
  margin-left: 10%;
  margin-top: 2rem;
  width: 50%;

  span {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.75rem;
    font-weight: 600;
    margin: 1.5rem 0;
  }

  div {
    width: 100%;
  }

  form {
    margin-top: 2rem;
  }

  .shippingForm {
    display: flex;
    flex-direction: row;

    &__column {
      display: flex;
      flex-direction: column;

      h4 {
        font-size: 1.25rem;
        font-weight: 600;
        margin: 1rem 0;
      }

      div {
        width: 75%;
        display: flex;
        justify-content: space-between;
        margin: 0.5rem 0;

        label {
          width: 25%;
        }

        input {
          height: 40px;
          width: 75%;
          padding: 10px;
          margin-right: 5%;
          background: transparent;
          border: 1px solid;
        }

        textarea {
          height: 120px;
          width: 75%;
          padding: 10px;
          margin-right: 5%;
          background: transparent;
          border: 1px solid;
        }
      }
    }
  }

  &__btn {
    width: 120px;
    height: 60px;
    margin: 3rem 1rem;
    font-size: 1.3rem;
    border: 1px solid;
    background-color: transparent;
    outline: none;
  }
}
