.donateSummary {
  margin-left: 10%;
  margin-top: 1rem;
  width: 50%;

  span {
    font-size: 1.25rem;
  }

  div {
    width: 100%;
  }

  h3 {
    font-size: 1.75rem;
    font-weight: 600;
    margin: 1.5rem 0;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 1rem 0;
  }

  p {
    font-weight: 600;
    font-size: 1.1rem;
  }

  form {
    margin-top: 1rem;
  }

  &__donation, &__beneficient {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      margin: 1rem;
      height: 65px;
    }
  }

  .shippingForm {
    display: flex;
    flex-direction: row;

    &__column {
      display: flex;
      flex-direction: column;

      div {
        width: 75%;
        display: flex;
        justify-content: space-between;
        margin: 0.5rem 0;

        label {
          width: 25%;
        }

        input {
          height: 40px;
          width: 75%;
          padding: 10px;
          margin-right: 5%;
          background: transparent;
          border: 1px solid;
          outline: none;
        }

        textarea {
          height: 120px;
          width: 75%;
          padding: 10px;
          margin-right: 5%;
          background: transparent;
          border: 1px solid;
          outline: none;
        }
      }
    }
  }

  &__btn {
    width: 120px;
    height: 60px;
    margin: 2rem 1rem;
    font-size: 1.3rem;
    border: 1px solid;
    background-color: transparent;
    outline: none;

    &-confirm {
      width: 160px;
    }
  }
}
